<p id="notice"><%= notice %></p>

<div style="text-align: center; position: fixed; border: 0; margin: 0; padding: 0; left: 0; right: 0; top: 0; bottom: 0; background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,1) 100%);">
<h1 style="color: white;">Your SoloPartners Events</h1>
</div>

<br>
<br>
<table style="color: white;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>

<div id='calendar'></div>
<script>

$('#calendar').fullCalendar({

  timeZone: 'UTC',
  events: '<%= events_path %>',


});

</script>