
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

.alert{
   margin: 0;
   padding: 0;
   position: absolute;
}
html { 
      background: url('https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=annie-spratt-217517-unsplash.jpg');
      margin: 0;
      padding: 0;
      border: 0;
      background-size: 100%;
      background-repeat: no-repeat;>
}

body{
    background-color: gainsboro;
    opacity: 0,3;
    align: center;
}
</style>

</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
   
  <a href="/" class="navbar-left"></a><span class="navbar-brand mb-0 h1">SoloPartner</span>
                     
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/pages/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/send/contact">Contact</a>
      </li>
      </ul>
</nav>

<br>
<h1>Contacto</h1>
<h3>Tienes alguna duda? Contáctate con nosotros! Te respondemos a la brevedad</h3>
<br>


<%= flash[:notice] %>
<%= form_tag send_path,method: :post do %> 
<%= label_tag :Nombre %><br/>
<%= text_field_tag :name %> <br/>
<%= label_tag :Email %> <br/>
<%= text_field_tag :email %> <br/>
<%= label_tag :Asunto %> <br/>
<%= text_field_tag :subject %> <br/>
<%= label_tag :Contenido %><br/>
<%= text_area_tag :content %> <br/>
<%= submit_tag  %>

<% end %>

