<!DOCTYPE html>
<html>
  <head>

    <title>SoloPartner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|ZCOOL+XiaoWei">
  
  </head>

  <body>


    <%= yield %>
  </body>
</html>
